.vs/
build_Release_x64
lib3ds.opensdf
lib3ds.sdf
lib3ds.suo
Debug/
examples/3ds2obj/Debug/
examples/3dsdump/Debug/
examples/cube/Debug/
src/Debug/
Release/
examples/3ds2obj/Release/
examples/3dsdump/Release/
examples/cube/Release/
src/Release/
